body,html{
    font-size: 16px !important;
}
.admin-header{
    background-color: #1d2327;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    padding:0 20px;
}
.col-250{
    width: 250px;
}
.nav-home{
    color: white;
    text-decoration: none;
}

.admin-sidebar{
    background-color: #1d2327;
    height: 100% ;
    width: 100%;
}
.admin-sidebar__item{
    margin-bottom: 10px;
}

.admin-sidebar__item .link{
    color: white;
    font-weight: 500;
    padding: 4px 8px;
    border-left: 4px solid #1d2327;
    display: block;
}
.admin-sidebar__item .link:hover,
.admin-sidebar__item .link.active{
    border-left: 4px solid white;
}

.admin-sidebar__item .nav-collapse{
    padding: 10px;
    padding-left: 20px;
}
.modal-dialog .form-select,
.modal-dialog .form-control{

    padding: .375rem .75rem;
}